# Python / pyEcoMug build
__pycache__/
*.py[cod]
*.so
build/
*.egg-info/

# Simulation output
results/

scripts/

muonsBunker/cubeInfo2.txt
muonsBunker/inputMuons2.ini
muonsBunker/quickRun.mac
muonsBunker/smokeRun.mac
